body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.container {
    width: 1028px !important;
}

article {
    min-width: 1000px;
    background: url(../img/index/bg.png) repeat-y;
    background-size: 100% auto;
}

ul,ol {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.bg-color1 {
    background-color: #f39800;
}
.bg-color2 {
    background-color: #00b7ee
}
.bg-color3 {
    background-color: #a1d71a
}
.bg-color4 {
    background-color: #e40146
}
.bg-color5 {
    background-color: #009e96
}
.bg-color6 {
    background-color: #5f52a0
}
