body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

.container {
    width: 1028px !important;
}

article {
    min-width: 1000px;
    height: 3000px;
    background: url(../img/index/bg.png) repeat-y;
    background-size: 100% auto;
}
