/*顶部*/
.topbar {
    height:40px;
    line-height: 2.85;
    color: #a7a7a7;
    background-color: #e5e5e5;
    overflow: hidden;
}
.lbar li {
    margin-right: 20px;
}

.topbanner {
    height: 93px;
    background: url(../img/index/banner.png) no-repeat;
}

.search {
    text-align: right;
    width: 260px;
    margin-top: 36px;

}


/*幻灯片*/
.slider {
    background-color: #000;
}

#skippr {
    height: 430px;
}

#skippr p{
    width: 100%;
    height: 35px;
    position: relative;
    top: 395px;
    background-color: #000;
    opacity: .65;
}

#skippr .skippr-nav-container {
    bottom: 15px;
    width: 780px;
}

#skippr .skippr-nav-element-block {
    width: 150px;
    height: 4px;
    margin-right: 6px;
    border-radius: 2px;
    background-color:#00b7ee;
    background-repeat: no-repeat;
}

#skippr .skippr-nav-element-active {

    border: 1px solid #aeff00;
    background-color:#aeff00;
}


/*导航*/

.nav {
    width: 100%;
    height: 60px;
    color: #a0a0a0;
    font-size:16px;
    font-weight:bold;
    line-height: 3.75;
    background: url(../img/index/navb.png);
}

.nav .container ul {
    list-style: none;
    padding-left: 0px;
    margin-left: -23px;
    margin-right: -10px;
    overflow: hidden;
}


.nav .container ul li{
    float: left;
    padding: 0 25px;
    background: url(../img/index/split.png) no-repeat;
    background-position: 100% 8px;
}

.nav .container ul li a {
    padding: 16px 0;
    color: #a0a0a0;
    text-shadow: #000 2px 2px 5px;
    text-decoration: none;
}

.nav .container ul li a:hover {
    color: #fff;
    border-bottom: 4px solid #e81a61;
}

.nav .container ul li:last-child {
    padding-right: 0;
    margin-right: 0;
    background: none;
}

/*主内容*/

/*article {
    min-width: 1000px;
    background: url(../img/index/bg.png) repeat-y;
    background-size: 100% auto;
}*/


/* 蜂窝广告位 */
.brand {
    overflow: hidden;
    margin-right: -12px;
    padding: 80px 0;
}

.hex {
    float: left;
    margin-right: 12px;
}

.hex-offset {
    margin-left: 100px;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;

    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}

.hexagon2 {

    width: 190px;
    height: 220px;
    margin-top: -45px;

}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;

    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon-in2 {
    /*-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
    box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: -30px -15px;
    visibility: visible;

    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);

}



/* 微中介 */
.floor {
    padding-bottom: 16px;
    border-bottom: 2px solid #707070;
}
.floor span{
    float: right;
    margin-top: 50px;
}

.mediary {
    width: 370px;
    margin: 20px 0;
}
.mediary li{
    font-family: '宋体';
    font-size: 12px;
    list-style-image:url(../img/index/list.png);
    line-height: 2.6;
    padding-left: 6px;
}

.metro {
    width: 628px;
    margin: 28px 0;
}

.metro li{
    padding-top: 20px;
    width: 196px;
    height: 98px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    float: left;
}

.metro li a {
    color: #fff;
    text-decoration: none;
}


.metro .wider {
    width: 392px;
}

.metro .heighter {
    padding-top: 0;
    height: 196px;
}

.metro-color1{
    background-color: #f39800;
}
.metro-color2{
    background-color: #00b7ee
}
.metro-color3{
    background-color: #a1d71a
}
.metro-color4{
    background-color: #ffffff
}
.metro-color5{
    background-color: #009e96
}
.metro-color6{
    background-color: #5f52a0
}
.metro-color7{
    background-color: #e40146
}


/* 电商城 微供市场 */

.mall{
    width: 486px;
}

.mallmain {
    margin: 30px 0;
}

.mallad ul {
    padding: 10px 0;
    list-style: none;
    margin-right: -10px;
    overflow: hidden;
}
.mallad li {
    float: left;
    height: 70px;
    width: 240px;
    margin: 5px 6px 5px 0;
    color: #fff;
    text-align: center;
}

.mallpic img {
    -webkit-filter:grayscale(1);
    /*-webkit-filter:brightness(.5);*/

}

.mallpic:hover img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}


/* 家纺加盟 */

.brandad {
    width: 230px;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
}

.brandad ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    overflow: hidden;
}
.brandad li {
    float: left;
    height: 70px;
    width: 230px;
    margin-bottom: 7px;
    color: #fff;
    text-align: center;
}

/*------------------------首页找品牌-------------------------*/
#slider{ width:580px; text-align: left; }
.slider_box{ width:580px; margin:0 auto; height: 481px; overflow: hidden; position: relative;}
.silder_tip{ width: 92px; height: 92px; overflow: hidden; position: absolute; top: 0; right: 0; z-index:1; text-indent:-999px; background-color: #F3F; background-repeat: no-repeat; }
.silder_con{padding:0;overflow: hidden;position: absolute;}
.silder_panel{ width:580px; overflow: hidden; position: relative; float:left; list-style: none; }
.silder_panel img{width:580px;height: 387px;display: block;overflow: hidden;}
.silder_nav{ width:230px; height:40px; bottom: 0; position: absolute; overflow: hidden; margin-top: 0; margin-right: auto; margin-bottom: 20; margin-left: 370px; padding-bottom:10px; }
.silder_nav li{ float: left; border:1px solid #fff; margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 5px; }
.silder_nav li.current{ border:1px solid #7acf39; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 4px; }
.silder_nav li,.silder_nav img{display: block;width:60px; height:40px;overflow: hidden;}

.silder_nav .lia{ float: left; border:0px solid #FFF; width: 369px; height:40px; display: inline; }
.silder_nav .lia a{ float: left; border:1px solid #ccc; width: 88px; height:40px; margin-right:5px; display: inline; }
.silder_nav .lia a:hover{ border:1px solid #ff9900; }
.silder_nav .lia a img{ float: left; width: 86px; height:38px; }
.silder_nav .lia.current{ border:0px solid #7acf39;}
.silder_nav .lia,.silder_nav img{display: block;width:86px; height:38px;overflow: hidden;}

#slidera .slider_box a.prev,.slider_box a.next{ display: block; width:40px; height:40px; overflow:hidden; text-indent: -999px; position: absolute; cursor: pointer; background-color: #000; background-repeat: no-repeat;  margin-right: 0; margin-bottom: 0; margin-left: 0; }
#slidera .slider_box a.prev{ float:left; margin-left:0px; background-image: url(../img/index/lea.png); background-repeat: no-repeat; margin-top:95px;}
#slidera .slider_box a.next{ float:left; margin-left: 699px; background-image: url(../img/index/leb.png); background-repeat: no-repeat;margin-top:95px;}

.bannera1 {padding: 20px 0; width: 760px;}
.bannera1 .left{ width: 758px; height:378px; padding: 8px; float: left; background-color: #f1f1f1; border: 1px solid #E1E1E1; }


/* 网销导航 */
.netsale {
   margin-top: 20px;
   margin-bottom: 40px;
}

.netsale ul {
    padding: 5px 0;
    list-style: none;
    margin-right: -10px;
    overflow: hidden;
}
.netsale li {
    float: left;
    height: 244px;
    width: 244px;
    margin: 5px 7px 5px 0;
    color: #fff;
    text-align: center;
    position: relative;
}

.netsale li img {
    /*-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;*/
    -webkit-filter: brightness(.5);
    -moz-filter: brightness(.5);
    -ms-filter: brightness(.5);
    -o-filter: brightness(.5);
    filter: brightness(.5);
}

.netsale li:hover img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.netsale li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    height: 245px;
}

/* 通栏广告 */

.fullad {
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}


/* 产业链 */

.chain { width: 1002px; margin-right: auto; margin-left: auto; padding-top: 30px; padding-bottom: 30px; clear: both; overflow: hidden; }
.chain ul {padding:0;list-style: none;}
.chain .ml { width: 501px; float: left; margin-right: 1px; }
.chain .ml .bt {width: 498px; margin: 0px; background: url(../img/index/ml.jpg);}
.chain .ml .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 17px; line-height: 22px; height: 22px; width: 55px; }
.chain .ml .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .ml .img {  width: 498px; height: 336px; }
.chain .ml li { float: left; height: 78px; width: 120px; margin-right: 5px; margin-bottom: 6px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .ml li a {border: 1px solid #ccc; display: block; margin: 0px; padding: 0px; }
.chain .ml li a:hover { border: 1px solid #d13; }
.chain .fl { width: 252px; float: left; margin-right: 1px; }

.chain .fl .bt {width: 245px; margin: 0px; background: url(../img/index/fl.jpg);}
.chain .fl .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 17px; line-height: 22px; height: 22px; width: 55px; }
.chain .fl .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }

.chain .fl .img {  width: 498px; height: 336px; }
.chain .fl .img a{ height: 110px; width: 246px; display:block; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .fl .img a:hover{ border:0px;}
.chain .fl li { float: left; height: 78px; width: 120px; margin-right: 6px; margin-bottom: 6px; }
.chain .fl li a { border: 1px solid #ccc; display: block; }
.chain .fl li a:hover { border: 1px solid #d13; }
.chain .jx { width: 246px; float: left; }

.chain .jx .bt {width: 246px; margin: 0px; background: url(../img/index/jx.jpg);}
.chain .jx .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 17px; line-height: 22px; height: 22px; width: 55px; }
.chain .jx .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .jx .img {  width: 498px; height: 336px; }
.chain .jx .img a{ height: 110px; width: 246px; display:block; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .jx .img a:hover{ border:0px;}
.chain .jx li { float: left; height: 78px; width: 120px; margin-right: 6px; margin-bottom: 6px; }
.chain .jx li a { border: 1px solid #ccc; display: block; }
.chain .jx li a:hover { border: 1px solid #d13; }
.chain .hx { width: 126px; float: left; font-size: 12px; }
.chain .hx .bt {  height: 22px; width: 120px; margin: 0px; background: url(../img/index/navbj.png); }
.chain .hx .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 13px; line-height: 22px; height: 22px; width: 55px; }
.chain .hx .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .hx .img { height: 110px; width: 120px; }
.chain .hx .img a{ height: 110px; width: 120px; display:block; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .hx .img a:hover{ border:0px;}
.chain .hx li { float: left; height: 78px; width: 120px; margin-right: 6px; margin-bottom: 6px; }
.chain .hx li a { border: 1px solid #ccc; display: block; }
.chain .hx li a:hover {  border: 1px solid #d13; }

.chain .for { height: 300px; width: 242px; border: 1px solid #ccc; float: left; margin-left: 1px; background-color: #fff; }
/*产业链右边*/
.chainr{border-bottom:1px dashed #999;height:10px;margin-top:10px;}
.chainr span{background:#fff;margin-left:80px;color:#d13;padding:0 5px;}
.chainr ul{ padding: 0 2px;}
.chainr ul li{list-style: none;float: left;background: #eaeaea;width: 110px; height: 20px; margin-left: 5px;  margin-bottom: 3px; text-indent: 8px; font-size: 14px;}


/* 家纺资讯 */

.content {margin: 30px auto; overflow: hidden; }
.content a { color: #8a8a8a;}
.content .banner { height: 225px; width: 325px; margin-left: 10px; margin-top: 15px; }
.content .bannerbg { width:344px;height:330px;background: url(../img/index/imac.png); float: left; }
.content .information { float: left; width: 330px; margin-right: 12px; margin-left: 15px; }

.content .information p a{font-size: 24px; color: #434343; }
.content .information p span { margin-right: 10px;border: 10px solid #e81a61;}

.content .information a span { color: #d13; }

.content .information ul { padding: 0;}
.content .information ul li a { height: 32px; line-height: 32px; font-size: 14px; color: #7e7e7e; }
.content .information ul li a span { float: right; }
.content .information ul li a b { font-weight: normal; color: #d13; margin-right: 3px; }
.content .exhibition { float: left; width: 297px; overflow: hidden;}
.content .exhibition ul {padding-left: 0;}
.content .exhibition .db_a { width:297px; height: 68px; font-size: 12px; line-height: 18px; margin-bottom: 8px; border: 1px solid #bebebe;font-family: "宋体"; }
.content .exhibition .db_a:hover{border: 1px solid #da2337;}
.content .exhibition .db_a a b { font-size: 14px; font-weight: bold; color: #434343; margin-top:5px; margin-bottom: 5px; display:block; }
.content .exhibition .db_a img { float: left; margin:3px 12px 0 2px; }


/*------------------------资讯切换-------------------------*/
#scrob { width: 297px; height: 29px; margin-bottom: 10px; }
.scrollUlb {margin-right:-6px; overflow: hidden;}
.scrollUlb li { float: left; cursor:pointer; width: 97px; height:29px; line-height: 29px; margin-right: 3px; font-size: 12px; font-family: '宋体'; text-align: center;}
.sdb01 { color:#fff; padding: 0px; margin: 0px;background-color:#da2337;}
.sdb02 { color: #fff; background-color:#b5b5b5; padding: 0px; margin: 0px; }
#con_fourb_2,#con_fourb_3{ display:none;}

/* 344X330  323X225 */
#news-skippr .skippr-nav-container {
    display: none;
}

#news-skippr div p {
    margin-top: 190px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: #333;
    opacity: .8;
}


/* 家纺百科 */
.encyclopedias{
    margin: 30px 0;
    margin-right: -13px;
    overflow: hidden;
}

.encyclopedias .bka {
    float: left;
    margin-right: 12px;
    margin-bottom: 8px;
    width: 325px;
    height: 216px;
    -webkit-box-shadow:8px 12px 5px #ccc;
    -moz-box-shadow:8px 12px 5px #ccc;
    box-shadow:8px 12px 5px #ccc;
}

.bka .xtitle{
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.bka .xtitle a {
    float: right;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.bka ul {
    list-style: square;
}

.bka li {
    height: 32px;
    line-height: 32px;
}

.bka ul li a {
    color: #7e7e7e;
}

/*国际品牌*/

.worldbrand {
    height: 180px;
    margin-bottom: 30px;
}

.floorLoading{ width:1185px; margin:0px auto; height:390px;margin-top:6px;background:#fff;}
.l_floorLoading_r{ width:958px; height:auto;margin-top:6px; border:#CCC 1px solid;  }
.l_floorLoading_pp{ width:952px; margin:0px auto; height:175px; float:right; border:#a0a0a0 1px solid; background: #fff;}
.l_floorLoading_ppr{ width:954px; margin:0px auto; height:auto; float:left; border:#999 1px solid; padding-left:4px; }

.brandFloor-list {padding-left: 2px; padding-bottom:10px;}

.l_brandFloor{ width:950px; height:auto;  position:relative;}

.floorLoading textarea{display:none;}.brandFloor h3{margin-bottom:16px;}.brandFloor-hd0 .ui-title-mask{background-position:-99px -207px;}.brandFloor-hd0 .ui-title-text{width:66px;}.brandFloor-hd1 .ui-title-mask{background-position:-3px -29px;}.brandFloor-hd1 .ui-title-text{width:80px;}.brandFloor-hd2 .ui-title-mask{background-position:-3px -51px;}.brandFloor-hd2 .ui-title-text{width:66px;}.brandFloor-hd3 .ui-title-mask{background-position:-3px -73px;}.brandFloor-hd3 .ui-title-text{width:66px;}.brandFloor-hd4 .ui-title-mask{background-position:-94px -29px;}.brandFloor-hd4 .ui-title-text{width:66px;}.brandFloor-hd5 .ui-title-mask{background-position:-3px -117px;}.brandFloor-hd5 .ui-title-text{width:66px;}.brandFloor-hd6 .ui-title-mask{background-position:-3px -139px;}.brandFloor-hd6 .ui-title-text{width:66px;}.brandFloor-hd7 .ui-title-mask{background-position:-3px -161px;}.brandFloor-hd7 .ui-title-text{width:66px;}.brandFloor-hd8 .ui-title-mask{background-position:-3px -183px;}.brandFloor-hd8 .ui-title-text{width:33px;}.brandFloor-hd9 .ui-title-mask{background-position:-51px -183px;}.brandFloor-hd9 .ui-title-text{width:33px;}.brandFloor-hd10 .ui-title-mask{background-position:-3px -205px;}.brandFloor-hd10 .ui-title-text{width:33px;}.brandFloor-hd11 .ui-title-mask{background-position:-3px -227px;}.brandFloor-hd11 .ui-title-text{width:66px;}.brandFloor-hd12 .ui-title-mask{background-position:-3px -249px;}.brandFloor-hd12 .ui-title-text{width:66px;}.brandFloor-hd13 .ui-title-mask{background-position:-3px -271px;}.brandFloor-hd13 .ui-title-text{width:66px;}.brandFloor-hd3,.brandFloor-hd6,.brandFloor-hd8,.brandFloor-hd9,.brandFloor-hd11{margin-right:10px;padding-right:10px;border-right:1px dotted #666;}
.brandFloor-con img{vertical-align:top;}
.brandFloor-con{height:378px;position:relative;}
.bFl-item{position:relative;}

.brandFloor-con2 img{vertical-align:top;}
.brandFloor-con2{height:auto;position:relative;}
.l_brandFloor-con2 img{vertical-align:top;}
.l_brandFloor-con2{height:auto;position:relative; margin:0px auto; float:right;}

.bFlis-hd{height:30px; text-align:left;line-height:30px;width:100%;overflow:hidden;background:#000;}
.bflis_jj a{ float:right; margin-top:7px; padding-right:7px;}
.bFlis-hd a:hover{text-decoration:underline;}
.bFlis-hd a,.bFlis-hd span{color:#fff;font-weight:bold;z-index:2;margin-left:2px;}
.bFlis-hd-nav{display:none;position:absolute;z-index:2;color:#999;left:75px;top:120px;}
.bFlis-hd-nav li{height:30px;line-height:25px;*line-height:30px;width:13px;overflow:hidden;float:left;cursor:pointer;font-size:28px;_font-size:38px;margin-left:5px;}.bFlis-con-list{position:relative;height:120px;width:190px;overflow:hidden;}.bFlis-con-mask{position:absolute;top:130px;left:0;background:#333;height:30px;width:100%;overflow:hidden;opacity:.8;filter:alpha(opacity = 80);z-index:3;}.bFlis-con-mask:hover{text-decoration:none;}

.bFl-item-logo{width:190px;}
.bFl-item-logo2{ width:908px; float:left; list-style-type:none; margin:0px auto; padding:0px;}

.l_bFl-item-logo2_pp ul {padding: 0; overflow: hidden;}
.l_bFl-item-logo2_pp{ width:958px; list-style-type:none; margin:0px auto; padding:0px;}
.l_bFl-item-logo2_pp li{ position:relative; text-align:left; float:left; text-decoration:none; border-bottom:#CCC 1px dotted; height:57px;width:95px;background-position:0 56px;}
.bFl-item-logo2 li{position:relative; text-align:left; float:left; border-bottom:#CCC 1px dotted; height:57px;width:95px;background-position:0 56px;}

.l_bFl-item-logo2{ width:950px; float:left; list-style-type:none; margin:0px auto; padding:0px;}
.l_bFl-item-logo2 li{position:relative; text-align:left; float:left; border-bottom:#CCC 1px dotted; border-right:#CCC 1px dotted; margin-bottom:5px; margin-top:5px; height:52px;width:94px;background-position:0 56px;}

.bFl-item,.brandFloor-top{background:#fff;width:190px;height:373px;float:left;margin-right:5px; border:#CCC 1px solid;}
.bFl-item_kr,.brandFloor-top{background:#fff;width:190px;height:373px;float:left; margin-right:0px; border:#CCC 1px solid;}

.brandFloor-top h4 s{background-position:-102px -166px;}
.bFl-item-logo li{position:relative;float:left;height:55px;width:95px;background-position:0 56px; border-bottom:#e8e8e8 1px dotted}

li.bFl-item-hover{z-index:3;}.bFlil-link{display:block;cursor:pointer; text-decoration:none;}
.brandFloor .bFlil-img{display:block;width:89px;padding:0 3px;overflow:hidden;margin-top:6px;background-position:94px 0;background-color:#fff;}
.brandFloor .bFlil-img2{display:block;width:89px;padding:0 3px;overflow:hidden;margin-top:6px;background-position:94px 0;background-color:#fff;}

.l_brandFloor .l_bFlil-img{display:block;width:79px;padding:0 3px;overflow:hidden;margin-top:6px;background-position:94px 0;background-color:#fff;}



.brandFloor .bFlil-img-even{background:none;}
.brandFloor .bFlil-mask{opacity:0;filter(opacity = 0);display:none;}@-webkit-keyframes pulsate{0%{height:57px;}10%{height:60px;}20%{height:65px;}40%{height:70px;}50%{height:75px;}60%{height:80px;}80%{height:82px;}100%{height:84px;}}
.brandFloor .bFlil-link:hover{position:absolute;z-index:999;top:-20px;left:0;width:93px; display:block; border:1px solid #ccc;background-color:#fff;-webkit-box-shadow:0 1px 1px #bbb;-moz-box-shadow:0 1px 1px #bbb;box-shadow:0 1px 1px #bbb; text-decoration:none;}
.l_brandFloor .l_bFlil-link:hover{position:absolute;z-index:5;top:-20px;left:0;width:83px; display:block; border:1px solid #ccc;background-color:#fff;-webkit-box-shadow:0 1px 1px #bbb;-moz-box-shadow:0 1px 1px #bbb;box-shadow:0 1px 1px #bbb;}

.l_brandFloor .bFlil-img-even{background:none;}
.l_brandFloor .bFlil-mask{opacity:0;filter(opacity = 0);display:none;}@-webkit-keyframes pulsate{0%{height:57px;}10%{height:60px;}20%{height:65px;}40%{height:70px;}50%{height:75px;}60%{height:80px;}80%{height:82px;}100%{height:84px;}}
.l_brandFloor .bFlil-link:hover{position:absolute;z-index:999;top:-20px;left:0;width:93px; display:block; border:1px solid #ccc;background-color:#fff;-webkit-box-shadow:0 1px 1px #bbb;-moz-box-shadow:0 1px 1px #bbb;box-shadow:0 1px 1px #bbb; text-decoration:none;}


#brandFloor8 .brandFloor .bFlil-link:hover{top:0; text-decoration:none;}
.brandFloor .bFlil-link:hover .bFlil-img{background:none; text-decoration:none;}
.brandFloor .bFlil-link:hover .bFlil-img2{background:none; text-decoration:none;}
.brandFloor .bFlil-link:hover .bFlil-mask{display:block;opacity:1;filter(opacity = 100);text-decoration:none;}

#brandFloor8 .l_brandFloor .bFlil-link:hover{top:0; text-decoration:none;}
.l_brandFloor .bFlil-link:hover .l_bFlil-img{background:none; text-decoration:none;}
.l_brandFloor .bFlil-link:hover .bFlil-mask{display:block;opacity:1;filter(opacity = 100);text-decoration:none;}

.bFlil-mask-add {text-decoration:none; display:inline-block;width:93px;_width:95px; padding-top:3px;height:27px;line-height:27px; font-weight:normal;color:#fff;text-align:center;z-index:5;background-color:#E6001F; }
.l_bFlil-mask-add {display:inline-block;width:92px;_width:94px;height:25px;line-height:25px; font-weight:normal;color:#fff;text-align:center;z-index:5;background-color:#E6001F;}


/* 叠石桥 */
.dsqmain {width: 1000px;margin-top: 30px;margin-bottom: 20px;}
.stitle {font-size: 20px;font-weight: bold;color: #707070;}
.scrollleft{ padding-top: 5px; }
.scrollleft li{float:left;margin-right:10px; width:185px; display:inline;text-align:center;}
.scrollleft img{width:185px;height:160px;}
.scrollleft li span{ display: block; width: 185px;height: 35px; line-height: 35px; color:#fff; font-size:16px; background-color: #000; opacity: .6;}

/*底部友情链接*/
.links ul,.links li { margin: 0; padding: 0; border: 0; font-family: "微软雅黑";font-size:12px; }

#fscroa { width: 1000px; height:42px; line-height: 42px; background: url(../img/index/linkbj.gif) repeat-x; border: 1px solid #dedede; }
.fscrollUla li { float: left; width:140px; font-size: 16px; text-align: center; }
.fsda01 { cursor: pointer; text-decoration: none; float: left; background-color: #e81a61; border-right:1px solid #dedede;  }
.fsda01 a{ color: #fff; text-decoration: none; }
.fsda02 { cursor: pointer; text-decoration: none; float: left;}
.fsda02 a{ color: #313131; text-decoration: none; }

.links { width: 1004px; margin-right: auto; margin-left: auto; margin-bottom: 15px; }
.links .linlr { width: 1000px; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #dedede; border-right-color: #dedede; border-bottom-color: #dedede; border-left-color: #dedede; clear: both; overflow: hidden; padding-top: 10px; padding-bottom: 10px; padding-left: 12px; }
.links .linlr li { overflow: hidden;line-height: 22px; float: left; height: 22px; width: 105px; margin-left: 5px; background-position: left; color: #999; display: inline; }
#con_foura_2 li{width: 115px;}
.links .linlr li a {height: 22px; width: 100px; color: #7e7e7e;}
.links .linlr a:hover {color: #d13; text-decoration: underline; }

/* 底部 */

.foonav { line-height: 30px; height: 30px; width: 1000px; margin-right: auto; margin-left: auto; clear: both; padding-top: 5px; text-align: center; border-top-width: 2px; border-top-style: double; border-top-color: #707070; padding-bottom: 5px; margin-top: 10px; }
.foonav a { margin-right: 20px; margin-left: 20px; font-size: 12px; }
.foonavbst { line-height: 60px; height: 60px; width: 1000px; margin-right: auto; margin-left: auto; clear: both; padding-top: 5px; text-align: center; border-top-width: 2px; border-top-style: double; border-top-color: #707070; padding-bottom: 5px; margin-top: 10px; }
.foonavbst a {color: #7e7e7e; margin-right: 20px; margin-left: 20px; font-size: 14px; height: 40px; line-height: 40px; }
.foonavbst a:hover { color: #d13; text-decoration: underline;}
.copyright { line-height: 22px; width: 1000px; margin-right: auto; margin-left: auto; clear: both; padding-top: 10px; text-align: center; font-size: 12px; padding-bottom: 10px; color: #FFF; background-color: #1181dd; }
.copyright a{ color:#fff}
.copyrighta { width: 1000px; margin-right: auto; margin-left: auto; clear: both; padding-top: 15px; text-align: center; padding-bottom: 15px; }
.copyrighta img{ margin-left:5px; margin-right:5px; border: 1px solid #E8E8E8; }
