/*顶部*/
.topbar {
    height:40px;
    line-height: 2.85;
    color: #a7a7a7;
    background-color: #e5e5e5;
    overflow: hidden;
}
.lbar li {
    margin-right: 20px;
}

.topbanner {
    height: 93px;
    background: url(../img/index/banner.png) no-repeat;
}

.search {
    width: 230px;
    margin-top: 36px;

}


/*幻灯片*/
.slider {
    background-color: #000;
}

#skippr {
    height: 430px;
}

#skippr p{
    width: 100%;
    height: 35px;
    position: relative;
    top: 395px;
    background-color: #000;
    opacity: .65;
}

#skippr .skippr-nav-container {
    bottom: 15px;
    width: 780px;
}

#skippr .skippr-nav-element-block {
    width: 150px;
    height: 4px;
    margin-right: 6px;
    border-radius: 2px;
    background-color:#00b7ee;
    background-repeat: no-repeat;
}

#skippr .skippr-nav-element-active {

    border: 1px solid #aeff00;
    background-color:#aeff00;
}


/*导航*/

.nav {
    width: 100%;
    height: 60px;
    color: #a0a0a0;
    font-size:16px;
    font-weight:bold;
    line-height: 3.5;
    background: url(../img/index/navb.png);
}

.nav .container ul {
    list-style: none;
    padding-left: 2px;
}


.nav .container ul li{
    text-align: left;
    float: left;
    padding-right: 25px;
    margin-right: 25px;
    background: url(../img/index/split.png) no-repeat;
    background-position: 100% 8px;
}

.nav .container ul li a {
    color: #a0a0a0;
    text-shadow: #000 2px 2px 5px;
    padding: 18px 0;
    text-decoration: none;
}

.nav .container ul li a:hover {
    color: #fff;
    border-bottom: 4px solid #e81a61;
}

.nav .container ul li:last-child {
    padding-right: 0;
    margin-right: 0;
    background: none;
}

/*主内容*/

/*article {
    min-width: 1000px;
    background: url(../img/index/bg.png) repeat-y;
    background-size: 100% auto;
}*/


.brand {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}


/* HEXAGON STARTS HERE */
.hex {
    width:190px;
    height:110px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: auto 173px;
    -moz-background-size: auto 173px;
    -ms-background-size: auto 173px;
    -o-background-size: auto 173px;
    position: relative;
    float:left;
    margin:33px 5px;
    text-align:center;
    zoom:1;
}



.hex.hex-gap {
    margin-left: 105px;
}

.hex a {
    display:block;
    width: 100%;
    height:100%;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:0;
}

.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;
    /*z-index:-2;*/
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


 .hex .corner-1 {
    /*z-index:-1;*/
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width: 190px;
    height: 190px;
    content: '';
    position: absolute;
    background: inherit;
    top:0;
    left: 0;
    /*z-index: 1;*/
    background: inherit;
    background-repeat:no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


 .hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-87px, 0px);
    -moz-transform: rotate(-60deg) translate(-87px, 0px);
    -ms-transform: rotate(-60deg) translate(-87px, 0px);
    -o-transform: rotate(-60deg) translate(-87px, 0px);
    transform: rotate(-60deg) translate(-87px, 0px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-35px, -15px);
    -moz-transform: rotate(60deg) translate(-35px, -15px);
    -ms-transform: rotate(60deg) translate(-35px, -15px);
    -o-transform: rotate(60deg) translate(-35px, -15px);
    transform: rotate(60deg) translate(-35px, -15px);
    bottom:0;
}



/* Custom styles*/
.hex .inner {
    color:#eee;
    position: relative;
    z-index: 3;
}

.hex hr {
    border:0;
    border-top:1px solid #eee;
    width:60%;
    margin:15px auto;
}

.hex p {
    font-size:12px;
    width:80%;
    margin:0 auto;
}

.hex.hex-1 {
    background: #e81a61;
}

.hex.hex-2 {
    background: #2bbdb9;
}

.hex.hex-3 {
    background: #1aaaeb;
}

.hex.hex-4 {
    background: #6f64aa;
}


/* 微中介 */
.floor {
    padding-bottom: 16px;
    border-bottom: 2px solid #707070;
}
.floor span{
    float: right;
    margin-top: 50px;
}

.mediary {
    width: 370px;
    margin: 20px 0;
}
.mediary li{
    font-family: '宋体';
    font-size: 12px;
    list-style-image:url(../img/index/list.png);
    line-height: 2.6;
    padding-left: 6px;
}

.metro {
    width: 628px;
    margin: 28px 0;
}

.metro li{
    padding-top: 20px;
    width: 196px;
    height: 98px;
    font-size: 20px;
    text-align: center;
    list-style: none;
    float: left;
}

.metro li a {
    color: #fff;
    text-decoration: none;
}


.metro .wider {
    width: 392px;
}

.metro .heighter {
    padding-top: 0;
    height: 196px;
}

.metro-color1{
    background-color: #f39800;
}
.metro-color2{
    background-color: #00b7ee
}
.metro-color3{
    background-color: #a1d71a
}
.metro-color4{
    background-color: #ffffff
}
.metro-color5{
    background-color: #009e96
}
.metro-color6{
    background-color: #5f52a0
}
.metro-color7{
    background-color: #e40146
}


/* 电商城 微供市场 */

.mall{
    width: 486px;
}

.mallmain {
    margin: 30px 0;
}

.mallad ul {
    padding: 10px 0;
    list-style: none;
    margin-right: -10px;
    overflow: hidden;
}
.mallad li {
    float: left;
    height: 70px;
    width: 240px;
    margin: 5px 6px 5px 0;
    color: #fff;
    text-align: center;
}

/* 家纺加盟 */

.brandad {
    width: 230px;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
}

.brandad ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    overflow: hidden;
}
.brandad li {
    float: left;
    height: 70px;
    width: 230px;
    margin-bottom: 7px;
    color: #fff;
    text-align: center;
}

/*------------------------首页找品牌-------------------------*/
#slider{ width:580px; text-align: left; }
.slider_box{ width:580px; margin:0 auto; height: 481px; overflow: hidden; position: relative;}
.silder_tip{ width: 92px; height: 92px; overflow: hidden; position: absolute; top: 0; right: 0; z-index:1; text-indent:-999px; background-color: #F3F; background-repeat: no-repeat; }
.silder_con{padding:0;overflow: hidden;position: absolute;}
.silder_panel{ width:580px; overflow: hidden; position: relative; float:left; list-style: none; }
.silder_panel img{width:580px;height: 387px;display: block;overflow: hidden;}
.silder_nav{ width:230px; height:40px; bottom: 0; position: absolute; overflow: hidden; margin-top: 0; margin-right: auto; margin-bottom: 20; margin-left: 370px; padding-bottom:10px; }
.silder_nav li{ float: left; border:1px solid #fff; margin-top: 2px; margin-right: 0px; margin-bottom: 0px; margin-left: 5px; }
.silder_nav li.current{ border:1px solid #7acf39; margin-top: 0; margin-right: 0px; margin-bottom: 0; margin-left: 4px; }
.silder_nav li,.silder_nav img{display: block;width:60px; height:40px;overflow: hidden;}

.silder_nav .lia{ float: left; border:0px solid #FFF; width: 369px; height:40px; display: inline; }
.silder_nav .lia a{ float: left; border:1px solid #ccc; width: 88px; height:40px; margin-right:5px; display: inline; }
.silder_nav .lia a:hover{ border:1px solid #ff9900; }
.silder_nav .lia a img{ float: left; width: 86px; height:38px; }
.silder_nav .lia.current{ border:0px solid #7acf39;}
.silder_nav .lia,.silder_nav img{display: block;width:86px; height:38px;overflow: hidden;}

#slidera .slider_box a.prev,.slider_box a.next{ display: block; width:40px; height:40px; overflow:hidden; text-indent: -999px; position: absolute; cursor: pointer; background-color: #000; background-repeat: no-repeat;  margin-right: 0; margin-bottom: 0; margin-left: 0; }
#slidera .slider_box a.prev{ float:left; margin-left:0px; background-image: url(../img/index/lea.png); background-repeat: no-repeat; margin-top:95px;}
#slidera .slider_box a.next{ float:left; margin-left: 699px; background-image: url(../img/index/leb.png); background-repeat: no-repeat;margin-top:95px;}

.bannera1 {padding: 20px 0; width: 760px;}
.bannera1 .left{ width: 758px; height:378px; padding: 8px; float: left; background-color: #f1f1f1; border: 1px solid #E1E1E1; }


/* 网销导航 */
.netsale {
   margin-top: 20px;
   margin-bottom: 40px;
}

.netsale ul {
    padding: 5px 0;
    list-style: none;
    margin-right: -10px;
    overflow: hidden;
}
.netsale li {
    float: left;
    height: 244px;
    width: 244px;
    margin: 5px 7px 5px 0;
    color: #fff;
    text-align: center;
}


/* 通栏广告 */

.fullad {
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}


/* 产业链 */

.chain { width: 1002px; margin-right: auto; margin-left: auto; padding-top: 30px; padding-bottom: 30px; clear: both; overflow: hidden; }
.chain ul {padding:0;list-style: none;}
.chain .ml { width: 501px; float: left; margin-right: 1px; }
.chain .ml .bt {width: 498px; margin: 0px; background: url(../img/index/ml.jpg);}
.chain .ml .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 17px; line-height: 22px; height: 22px; width: 55px; }
.chain .ml .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .ml .img {  width: 498px; height: 336px; }
.chain .ml li { float: left; height: 78px; width: 120px; margin-right: 5px; margin-bottom: 6px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .ml li a {border: 1px solid #ccc; display: block; margin: 0px; padding: 0px; }
.chain .ml li a:hover { border: 1px solid #d13; }
.chain .fl { width: 252px; float: left; margin-right: 1px; }

.chain .fl .bt {width: 245px; margin: 0px; background: url(../img/index/fl.jpg);}
.chain .fl .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 17px; line-height: 22px; height: 22px; width: 55px; }
.chain .fl .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }

.chain .fl .img {  width: 498px; height: 336px; }
.chain .fl .img a{ height: 110px; width: 246px; display:block; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .fl .img a:hover{ border:0px;}
.chain .fl li { float: left; height: 78px; width: 120px; margin-right: 6px; margin-bottom: 6px; }
.chain .fl li a { border: 1px solid #ccc; display: block; }
.chain .fl li a:hover { border: 1px solid #d13; }
.chain .jx { width: 246px; float: left; }

.chain .jx .bt {width: 246px; margin: 0px; background: url(../img/index/jx.jpg);}
.chain .jx .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 17px; line-height: 22px; height: 22px; width: 55px; }
.chain .jx .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .jx .img {  width: 498px; height: 336px; }
.chain .jx .img a{ height: 110px; width: 246px; display:block; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .jx .img a:hover{ border:0px;}
.chain .jx li { float: left; height: 78px; width: 120px; margin-right: 6px; margin-bottom: 6px; }
.chain .jx li a { border: 1px solid #ccc; display: block; }
.chain .jx li a:hover { border: 1px solid #d13; }
.chain .hx { width: 126px; float: left; font-size: 12px; }
.chain .hx .bt {  height: 22px; width: 120px; margin: 0px; background: url(../img/index/navbj.png); }
.chain .hx .bt a{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; margin-left: 13px; line-height: 22px; height: 22px; width: 55px; }
.chain .hx .bt a:hover{ color: #FFF; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .hx .img { height: 110px; width: 120px; }
.chain .hx .img a{ height: 110px; width: 120px; display:block; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; }
.chain .hx .img a:hover{ border:0px;}
.chain .hx li { float: left; height: 78px; width: 120px; margin-right: 6px; margin-bottom: 6px; }
.chain .hx li a { border: 1px solid #ccc; display: block; }
.chain .hx li a:hover {  border: 1px solid #d13; }

.chain .for { height: 300px; width: 242px; border: 1px solid #ccc; float: left; margin-left: 1px; background-color: #fff; }
/*产业链右边*/
.chainr{border-bottom:1px dashed #999;height:10px;margin-top:10px;}
.chainr span{background:#fff;margin-left:80px;color:#d13;padding:0 5px;}
.chainr ul{ padding: 0 2px;}
.chainr ul li{list-style: none;float: left;background: #eaeaea;width: 110px; height: 20px; margin-left: 5px;  margin-bottom: 3px; text-indent: 8px; font-size: 14px;}


/* 家纺资讯 */
.content {margin: 30px auto; margin-right: -20px; overflow: hidden; }
.content .banner { height: 225px; width: 325px; margin-left: 10px; margin-top: 15px; }
.content .bannerbg { width:344px;height:330px;background: url(../img/index/imac.png); float: left; }
.content .information { float: left; width: 330px; margin-right: 20px; margin-left: 20px; }

.content .information a h2 { font-size: 20px; line-height: 22px; color: #333; height: 22px; margin-bottom: 7px; text-decoration: none; font-family: "微软雅黑"; }
.content .information a h2:hover{ color:#d13}
.content .information a h4 { line-height: 20px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #ccc; margin-bottom: 10px; padding-bottom: 10px; }
.content .information a h4 span { color: #d13; }

.content .information ul { padding: 0;}
.content .information ul li a { height: 33px; line-height: 33px; font-size: 14px; color: #ccc; }
.content .information ul li a span { float: right; }
.content .information ul li a b { font-weight: normal; color: #d13; margin-right: 3px; }
.content .exhibition { float: left; width: 314px; height: 270px; }
.content .exhibition .xtitle { width: 300px; height: 25px; background-color: #e5e5e5; line-height: 25px; color: #d13; padding-right: 5px; padding-left: 9px; font-size: 12px; margin-bottom: 6px; font-weight: bold; }
.content .exhibition .xtitle span { float: right; }
.content .exhibition .xtitle span a { font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; }
.content .exhibition .db { height: 65px; padding-bottom: 5px; font-size: 12px; line-height: 20px; }
.content .exhibition .db a b { font-size: 14px; font-weight: bold; margin-bottom: 10px; }
.content .exhibition .db img { float: left; margin-left: 10px; margin-right: 10px; }
.content .exhibition .db_a { width:305px; height: 65px; font-size: 12px; line-height: 18px; margin-bottom: 8px; border: 1px solid #bebebe; padding: 2px; margin-right: auto; margin-left: auto; font-family: "宋体"; }
.content .exhibition .db_a:hover{border: 1px solid #da2337;}
.content .exhibition .db_a a b { font-size: 14px; font-weight: bold; margin-bottom: 5px;display:block; margin-top: 5px; }
.content .exhibition .db_a img { float: left; margin-right: 10px; }


/*------------------------资讯切换-------------------------*/
#scrob { width: 476px; height: 29px; margin-bottom: 10px; }
.scrollUlb li { float: left; cursor:pointer; height:29px; font-size: 12px; width: 103px; line-height: 29px; font-family: "宋体"; padding: 0px; margin-top: 0px; margin-right: 1px; margin-bottom: 0px; margin-left: 1px; list-style-type: none; text-align: center; background-position: 0px; background-image: none; }
.sdb01 { color:#fff; padding: 0px; margin: 0px;background-color:#da2337;}
.sdb02 { color: #fff; background-color:#b5b5b5; padding: 0px; margin: 0px; }
#con_fourb_2,#con_fourb_3{ display:none;}

/* 344X330  323X225 */
#news-skippr .skippr-nav-container {
    display: none;
}

#news-skippr div p {
    margin-top: 190px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: #333;
    opacity: .8;
}
