/*顶部*/
.topbar {
    height:40px;
    line-height: 2.85;
    color: #a7a7a7;
    background-color: #e5e5e5;
}
.lbar li {
    margin-right: 20px;
}

.banner {
    height: 93px;
    background: url(../img/index/banner.png) no-repeat;
}

.search {
    width: 230px;
    margin-top: 36px;

}


/*幻灯片*/
.slider {
    background-color: #000;
}

#skippr {
    height: 430px;
}

#skippr p{
    width: 100%;
    height: 35px;
    position: relative;
    top: 395px;
    background-color: #000;
    opacity: .65;
}

.skippr-nav-container {
    bottom: 15px;
    width: 780px;
}

.skippr-nav-element-block {
    width: 150px;
    height: 4px;
    margin-right: 6px;
    border-radius: 2px;
    background-color:#00b7ee;
    background-repeat: no-repeat;
}

.skippr-nav-element-active {

    border: 1px solid #aeff00;
    background-color:#aeff00;
}

/*导航*/

.nav {
    width: 100%;
    height: 60px;
    color: #a0a0a0;
    font-size:16px;
    font-weight:bold;
    line-height: 3.5;
    background: url(../img/index/navb.png);
}

.nav .container ul {
    list-style: none;
    padding-left: 2px;
}


.nav .container ul li{
    text-align: left;
    float: left;
    padding-right: 25px;
    margin-right: 25px;
    background: url(../img/index/split.png) no-repeat;
    background-position: 100% 8px;
}

.nav .container ul li a {
    color: #a0a0a0;
    text-shadow: #000 2px 2px 5px;
    padding: 18px 0;
    text-decoration: none;
}

.nav .container ul li a:hover {
    color: #fff;
    border-bottom: 4px solid #e81a61;
}

.nav .container ul li:last-child {
    padding-right: 0;
    margin-right: 0;
    background: none;
}

/*主内容*/

/*article {
    min-width: 1000px;
    background: url(../img/index/bg.png) repeat-y;
    background-size: 100% auto;
}*/


.brand {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}


/* HEXAGON STARTS HERE */
.hex {
    width:190px;
    height:110px;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: auto 173px;
    -moz-background-size: auto 173px;
    -ms-background-size: auto 173px;
    -o-background-size: auto 173px;
    position: relative;
    float:left;
    margin:33px 5px;
    text-align:center;
    zoom:1;
}



.hex.hex-gap {
    margin-left: 105px;
}

.hex a {
    display:block;
    width: 100%;
    height:100%;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:0;
}

.hex .corner-1,
.hex .corner-2 {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;
    /*z-index:-2;*/
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


 .hex .corner-1 {
    /*z-index:-1;*/
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top:0;
    left: 0;
    /*z-index: 1;*/
    background: inherit;
    background-repeat:no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


 .hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-87px, 0px);
    -moz-transform: rotate(-60deg) translate(-87px, 0px);
    -ms-transform: rotate(-60deg) translate(-87px, 0px);
    -o-transform: rotate(-60deg) translate(-87px, 0px);
    transform: rotate(-60deg) translate(-87px, 0px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-48px, -11px);
    -moz-transform: rotate(60deg) translate(-48px, -11px);
    -ms-transform: rotate(60deg) translate(-48px, -11px);
    -o-transform: rotate(60deg) translate(-48px, -11px);
    transform: rotate(60deg) translate(-48px, -11px);
    bottom:0;
}



/* Custom styles*/
.hex .inner {
    color:#eee;
    position: relative;
    z-index: 3;
}

.hex hr {
    border:0;
    border-top:1px solid #eee;
    width:60%;
    margin:15px auto;
}

.hex p {
    font-size:12px;
    width:80%;
    margin:0 auto;
}

.hex.hex-1 {
    background: #e81a61;
}

.hex.hex-2 {
    background: #2bbdb9;
}

.hex.hex-3 {
    background: #1aaaeb;
}

.hex.hex-4 {
    background: #6f64aa;
}


/* 微中介 */
.floor {
    padding-bottom: 16px;
    border-bottom: 2px solid #707070;
}
.floor span{
    float: right;
    margin-top: 50px;
}

.mediary {
    width: 370px;
    margin-top: 20px;
}
.mediary li{
    font-family: '宋体';
    font-size: 12px;
    list-style-image:url(../img/index/list.png);
    line-height: 2.6;
    padding-left: 6px;
}

.metro {
    width: 628px;
    margin: 28px 0;
}

.metro li{
    padding-top: 20px;
    width: 196px;
    height: 98px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    list-style: none;
    float: left;
}


.metro .wider {
    width: 392px;
}

.metro .heighter {
    padding-top: 0;
    height: 196px;
}

.metro-color1{
    background-color: #f39800;
}
.metro-color2{
    background-color: #00b7ee
}
.metro-color3{
    background-color: #a1d71a
}
.metro-color4{
    background-color: #ffffff
}
.metro-color5{
    background-color: #009e96
}
.metro-color6{
    background-color: #5f52a0
}
.metro-color7{
    background-color: #e40146
}


/* 电商城 微供市场 */

.mall, .market{

    width: 498px;

}

